body {
	margin: 0;
	padding: 0;
}
#container {
	position: relative;
	overflow: hidden;
}
#segmentation {
	width: 100vw;
	height: 100vh;
}
#webcam {
	width: 100vw;
	height: 100vh;
	display: none;
}
#canvas {
	background-image: url("./images/sea.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#facemesh {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
}